<header class="content-header clearfix">
  <div class="layout-container">
    <div class="logo-wrapper">
      <a href="https://crow.corporaproject.org"><img alt="Corpus Logo" class="logo" src="{{ site_logo }}"></a>
    </div>
    <div class="header-wrapper">
      <h1 class="title">
        <a href="https://macaws.corporaproject.org">MACAWS</a>
      </h1>
      <h4 class="subheading">Multilingual Academic Corpus of Assignments :<br>Writing &amp; Speech</h4>
    </div>
    {{ page.header }}
  </div>
</header>
