/**
 * Place your custom styles here.
 */

html, body {
  font-family: 'Raleway', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #333333;
  border-color: #444444;
}

a {
  color: #bf5700;
  text-decoration: none;
}
